# Sets
#### - Set is denoted by {}
#### - This is an **Unordered** 
#### - This contains only **unique** elements

In [70]:
# sets
# 1. Write a Python program to create a set.
set1 = {1, 2, 3, 4, 5}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5}
<class 'set'>

In [71]:
# Creating a set from a list
set2 = set([1, 2, 3, 4, 5])  # Creating a set from a list
print(set2)
print(type(set2))

{1, 2, 3, 4, 5}
<class 'set'>

In [72]:
# Creating a set from a tuple
set3 = set((1, 2, 3, 4, 5))  # Creating a set from a tuple
print(set3)
print(type(set3))

{1, 2, 3, 4, 5}
<class 'set'>

In [73]:
# Creating a set from a string
set4 = set("Hello")  # Creating a set from a string
print(set4)
print(type(set4))

{'e', 'H', 'o', 'l'}
<class 'set'>

In [74]:
# Creating an empty set
set5 = set()  # Creating an empty set
print(set5)
print(type(set5))

set()
<class 'set'>

In [75]:
# Creating a set from another set
set6 = set({1, 2, 3, 4, 5})  # Creating a set from another set
print(set6)
print(type(set6))

{1, 2, 3, 4, 5}
<class 'set'>

In [76]:
# add operation on Set with an example
def add_set_example():
    """
    Demonstrates the add operation on a Set in Python.
    """
    fruits = {"apple", "banana", "cherry"}
    print("Initial Set:", fruits)

    # Adding an element to the Set
    fruits.add("orange")
    print("Set after adding 'orange':", fruits)

    # Adding an element that already exists (no effect)
    fruits.add("apple")
    print("Set after adding 'apple' again:", fruits)

In [77]:
add_set_example()

Initial Set: {'apple', 'banana', 'cherry'}
Set after adding 'orange': {'apple', 'banana', 'orange', 'cherry'}
Set after adding 'apple' again: {'apple', 'banana', 'orange', 'cherry'}

In [78]:
# set union with an example
def set_union_example():
    set1 = {1, 2, 3, 4}
    set2 = {3, 4, 5, 6}
    set3 = set1.union(set2)
    print(set3)

In [79]:
set_union_example()

{1, 2, 3, 4, 5, 6}

In [80]:
# set intersection with an example
def set_intersection_example():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}

    # Find the intersection of two sets
    intersection = set1.intersection(set2)

    print(f"Set 1: {set1}")
    print(f"Set 2: {set2}")
    print(f"Intersection of Set 1 and Set 2: {intersection}")

In [81]:
set_intersection_example()

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}

In [82]:
# set difference with an example
def set_difference_example():
    A = {1, 2, 3, 4, 5}
    B = {4, 5, 6, 7, 8}

    # Using the - operator to find the difference between two sets
    difference = A - B

    print(f"Set A: {A}")
    print(f"Set B: {B}")
    print(f"Difference of A - B: {difference}")

In [83]:
set_difference_example()

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}
Difference of A - B: {1, 2, 3}

In [84]:
# set isSubSet() with an example
def is_subset(set1, set2):
    """
    Checks if set1 is a subset of set2
    """
    is_subset = set1.issubset(set2)
    #print(is_subset)  # Output: True

    return is_subset

In [85]:
example_set1 = {"a", "b"}
example_set2 = {"a", "b", "c", "d"}
print("example_set1 subsetOf example_set2 : " + str(is_subset(example_set1, example_set2)))

example_set1 subsetOf example_set2 : True

In [86]:
# set isSuperset() with an example
def is_superset(set1, set2):
    """
    Checks if the first set is a superset of the second set
    """
    return set1.issuperset(set2)

In [87]:
print("example_set1 supersetOf example_set2 : " + str(is_superset(example_set1, example_set2)))
print("example_set2 supersetOf example_set1 : " + str(is_superset(example_set2, example_set1)))

example_set1 supersetOf example_set2 : False
example_set2 supersetOf example_set1 : True

In [88]:
# set unpack example
def set_unpack_example():
    """Unpacks a set into individual elements"""
    
    my_set = {'apple', 'banana', 'cherry'}
    
    # Unpack the set into individual elements
    element1, element2, element3 = my_set
    
    print(element1) # Output: 'apple'
    print(element2) # Output: 'banana' 
    print(element3) # Output: 'cherry'

In [89]:
set_unpack_example()

apple
banana
cherry

In [90]:
# unpacking
set7 = {10, 20, 30, 40, 50}
print(*set7)

50 20 40 10 30

In [91]:
from functools import reduce


big = [[1, '34', '44'], [1, '40', '30', '41'], [1, '41', '40', '42'], [1, '42', '41', '43'], [1, '43', '42', '44'], [1, '44', '34', '43']]
set(reduce ( lambda l,a : l + a, big))
set([1, '44', '30', '42', '43', '40', '41', '34'])

{1, '30', '34', '40', '41', '42', '43', '44'}

In [92]:
# result to be a list of a list as a final result
[list(set(reduce ( lambda l,a : l + a, big)))]

[[1, '40', '30', '42', '44', '34', '43', '41']]

In [93]:
# NOT using lambda
[list(set(reduce ( list.__add__, big)))]

[[1, '40', '30', '42', '44', '34', '43', '41']]

In [94]:
# another way - not using lambda
list({x for _list in big for x in _list})

[1, '40', '30', '42', '44', '34', '43', '41']