In [1]:
# Python code demonstrate creating 

import pandas as pd

# initialise data of lists.
data = {'Name':[ 'John' , 'Jack' , 'Sam' , 'Ray' ],
		'Age':[ 30 , 21 , 29 , 28 ]}

# Create DataFrame
df = pd.DataFrame( data )

# Print the output.
df

   Name  Age
0  John   30
1  Jack   21
2   Sam   29
3   Ray   28